*{
    border-style: solid;
    border-width: 1px;
}
section{
    margin-top: 3em;
}
article{
    display: block;
    margin-top: 20em;
}
#ps_section01{
    width: 100%;
}
#ps_section01 h2{
    width: 15em;
    font-size: 3em;
    margin: auto;
}
#ps_div_section01{
    width: 45em;
    margin: auto;
}
#ps_div_section01 a{
    font-size: 1.5em;
    font-weight:lighter; 
}
#ps_div_section01 p{
    font-size: 1.5em;
    display: inline;
    font-weight:lighter; 
}
#ps_div_t{
    background-image: url("https://castnet.nctu.edu.tw/files/images_db/903/20181222141649_1545459409_E3wzFMmW2Z.jpg");
    width: 100%;
    height: 55em;
    background-repeat:no-repeat;
    margin-top: 20em;
    background-size: cover;
}
#ps_div_t p{
    position: relative;
    display: inline-block;
    left: 53%;
    margin-top: 37em;
    width: 30em;
    padding: 1em;
    font-size: 1.2em;
    background-color: rgba(255 , 255, 255, 0.6)
}
#ps_div_t i{
    position: relative;
    display: inline-block;
    margin-left: 25em;
    margin-top: -3em;
    color: rgba(255 , 255, 255, 0.8)
}
.abstract{
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: #3AAB97;
    padding: 1em;
    font-size: 2.5em;
    margin: 2em auto;
}